# Flex
lex.yy.c
y.tab.c
y.tab.h
parser.tab.c
parser.tab.h

# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Debug / build folders
build/
bin/
obj/

# IDE
.vscode/
.idea/

# Visual Studio
.vs/

# OS junk
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log